*{
    box-sizing: border-box;
  
}

:root{
    --azul-marinho: #2C3E50;
    --azul-celeste: #1ABC9C;
    --branco: #fff;
}

html, body{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

/* <-- inicio aba de navegacao --> */

.nav-container{
    background: var(--azul-marinho);
    height: 100px;
    width: 100%;
    padding: 20px;
}

.nav-main{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.nav-main a{
    color: var(--branco);
    text-transform: uppercase; /* Deixa tudo maiusculo */
    text-decoration: none;
}

.menu-itens{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.menu-itens li{
    margin: 15px 10px 10px 10px;
    font-size: 10px;
    font-weight: 400;
}

.nav-brand{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* <-- fim da aba navegacao --> */

/* <-- inicio primeira sessao --> */

.profile-container{
    background-color: var(--azul-celeste);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 60px 0;
}

.profile-img img{
    width: 150px;
}

.profile-title{
    margin: 35px 0 0 0;
    font-size: 2rem;
}

.profile-description{
    margin: 0;
    font-size: 1rem;
}

/* <-- fim da primeira sessao --> */